.footer {
   max-width: 100%;
   width: 100%;
   height: 100%;
   position: relative;
   background: $main-clr;
   color: $txt-clr-dark;
   text-align: center;
   padding: 3rem 0;
   font-size: 1rem;
   margin-top: 2rem;
}

.footer__link { 
   color: $txt-clr-dark;
   font-weight: $fw-bold;
   padding: 1rem;
}

.footer__link:hover,
.social__link:hover {
   color: $cta-clr;
}

.social{
   display: flex;
   justify-content: center;
   margin: 2rem 0 0;
}

.social__item {
   margin: 0 .5rem;
}

.social__link {
   padding: .5rem;
}
