.main{
   width: 100%;
   position: relative;
   overflow: hidden;
   margin-top: 3em;
   padding: 3em 0;
}

.scores{
   width: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   text-align: center;
   font-family: $ff-title;
   color: $txt-clr-dark;
   font-size: 1.5em;
}

.start-btn {
   border-radius: 50%;
   font-size: 2em;
   background-color: lightgray;
}

.led-score{
   display: flex;
   flex-direction: column;
   align-items: center;
   vertical-align: center;
   justify-content: center;
}

.btn-onOff{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.switches {
   position: absolute;
   font-family: $ff-body;
}

.label-scores {
   font-size: 1.1em;
}

.label-switch {
   font-size: 1.1em;
}

.game-title {
   font-family: $ff-body;
   font-size: 2.5em;
   
   @include laptop {
      font-size: 3em;
   }
}

.turn {
   display: flex;
   align-items: center;
   justify-content: center;
   background: #330000; 
   color: red;
   font-family: courier;
   font-size: 2em;
   font-weight: bold;
   height: 30px;
   width: 60px;
   text-align: center;
}

.game-pad {
   background: #385a94;
   border-radius: 50%;
   height: 80vw;
   width: 80vw;
   position: relative;
   border-style: solid;
   border-width: 5px;
   margin: auto;
   margin-top: 60px;
   box-shadow: 8px 8px 15px 5px #888888;

   @include table {
      height: 60vw;
      width: 60vw;
   }

   @include laptop {
      height: 40vw;
      width: 40vw;
   }

}

.pad,
.inner-circle {
   position: absolute;
   height: 40vw;
   width: 40vw;
   border-style: solid;
   border-width: 5px;
   box-sizing: border-box;
   top: 50%;
   left: 50%;
   cursor: pointer;

   @include table {
      height: 30vw;
      width: 30vw;
   }

   @include laptop {
      height: 20vw;
      width: 20vw;
   }

}
.green {
   border-radius: 100% 0 0 0;
   background: darkgreen;
   margin: -40vw 0 0 -40vw;
   
   @include table {
      margin: -30vw 0 0 -30vw;
   }

   @include laptop {
      margin: -20vw 0 0 -20vw;
   }
}

.red {
   border-radius: 0 100% 0 0;
   background: darkred;
   margin: -40vw 0 0 0;

   @include table {
      margin: -30vw 0 0 0;
   }

   @include laptop {
      margin: -20vw 0 0 0;
   }
}

.gold {
   border-radius: 0 0 0 100%;
   background: goldenrod;
   margin: 0 -40vw 0 -40vw;

   @include table {
      margin: 0 -30vw 0 -30vw;
   }

   @include laptop {
      margin: 0 -20vw 0 -20vw;
   }

}

.blue {
   border-radius: 0 0 100% 0;
   background: darkblue;
   margin: 0 0 -40vw 0;

   @include table {
      margin: 0 0 -40vw 0;
   }

      @include laptop {
      margin: 0 0 -20vw 0;
   }
}

.inner-circle {
  background: grey;
  border-radius: 50%;
  border-width: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: -20vw 0 0 -20vw;

   @include table {
      margin: -15vw 0 0 -15vw;
   }

   @include laptop {
      height: 16vw;
      width: 16vw;
      margin: -8vw 0 0 -8vw;
   }
}
